Host *
  SendEnv LANG LC_*
  HashKnownHosts yes
  GSSAPIAuthentication yes
  PreferredAuthentications publickey,password
  IdentityFile ~/.ssh/id_rsa
  ServerAliveInterval 60
  Compression      yes
  CompressionLevel 4
Host github
  Hostname github.com
  User git
Host ida
  Hostname remote-und.ida.liu.se
  User ollkv086
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
Host marsix
  Hostname marsix.ida.liu.se
  User ollkv086
Host ixtab
  Hostname ixtab.edu.isy.liu.se
  User ollkv086
Host openelec
  Hostname openelec
  User root
Host hashbang.sh
  Hostname hashbang.sh
  User lollek
Host leim
  Hostname localhost
  Port 50022
Host dom0
  Hostname 10.0.0.8
Host david2
  Hostname 10.0.0.9
Host tuvstarr
  Hostname 10.0.0.4
