Host *
  SendEnv LANG LC_*
  HashKnownHosts yes
  GSSAPIAuthentication yes
  PreferredAuthentications publickey,password
  IdentityFile ~/.ssh/id_rsa
  ServerAliveInterval 60
  Compression      yes
  CompressionLevel 4
Host github
  Hostname github.com
  User git
Host ida
  Hostname remote-und.ida.liu.se
  User ollkv086
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
Host marsix
  Hostname marsix.ida.liu.se
  User ollkv086
Host hashbang.sh
  Hostname hashbang.sh
  User lollek
Host leim
  Hostname localhost
  Port 50022
Host gw
  User root
Host burm
  User root
